{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}

<html>
<header class="site-header outer {{#if @blog.cover_image}}{{else}}no-cover{{/if}}">

    <div class="site-header-content">

      <h1>We,</h1>

      <h3>Blog.</h3>

<div class="img">
<img src="assets/img_logo.png"/>
</div>

</header>

<nav>
 <ul>
  <li><a href="Tech.com">Technology</a></li>
   <li><a href="SEO.com">SEO</a></li>
   <li><a href="Branding.com">Branding</a></li>
   <li><a href="Web performance.com">Web Performance</a></li>
 </ul>
</nav>


<body>

  {{!-- The main content area --}}
  <main id="site-main" class="site-main outer" role="main">
      <div class="inner">

          <div class="post-feed">
              {{#foreach posts}}

                  {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                  {{> "post-card"}}

              {{/foreach}}
          </div>

      </div>


</body>


</html>
