h1{
 color: #7F7483;
 text-align: center;
 font-family: Open Sans,sans-serif;
 position: relative;
 bottom: -2em;
 font-weight: normal;

 }

h3{
  color: #FFCD00;
  padding-left:110px;
  position: relative;
  bottom: -22.5px;
  font-family: Open Sans,sans-serif;
  font-size: 3em;

}

.img{
  text-align: left;
  position: relative;
  top: -19em;


}
